.margins{
    display: block;
    margin-top: 17vh;
    margin-left: 22%;
    width: 58%;
    overflow: auto;
}

.m10-top {
    margin-top: 10px;
}

.m15 {
    margin: 15px;
}

.vertical-right {
    border-right: 1px solid teal;
}

.m25-top {
    margin-top: 25px;
}

.m25 {
    margin: 25px;
}

.p25 {
    padding: 25px;
}

.color {
    color: teal;
}

.border {
    border: 1px solid teal;
}